@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap-lumen.css" rel="stylesheet" />
<h2>Customers</h2>
@if (Model.Customers.Count == 0)
{
    <p>We don't havy any customers yet.</p>
}
else
{
    <table class="table table-bordered" style="width: 100%">
        <tr>
            <th>Customer</th>
        </tr>      
        @foreach (var customer in Model.Customers)
                       {
                           <tr>
                               <td>@customer.Name</td>
                           </tr>
                           
                       }
    </table>
}
